<nav>
    <div class="site-title">
        <a href="/"><h2>CRYPTEWS</h2></a>
        <p>Web Services_Project- Ali & Pedro</p>
    </div>
    <ul>
        <li><a href="/">Homepage</a></li>
        <li><a href="/price">Price</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/converter">Convertor</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>