<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body style="background-color: azure;">
    <%- include('./partials/nav.ejs') %>
    <div class="blogs content">
       
      <h3>PRICES</h3>
      
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>