<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Prices</h1>

    <nav>

        <a href="/index">Home</a>
        <a href="/pricesPage">Prices</a>
        <a href="/news">News</a>
        <a href="/converter">Converter</a>

    </nav>
</body>
</html>