<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body style="background-color: azure;">
    <%- include('./partials/nav.ejs') %>
    <div class="blogs content">
       
      <h3>CONVERTER</h3>
      <form action="/converter" method="GET">
        <label for="numberInput">Enter your money (USD): </label>
        <input type="number" id="numberInput" name="num" required><br>
        <label for="numberInput">Enter Bicoin price (USD): </label>
        <input type="number1" id="numberInput1" name="num1" required><br><br>
        <button type="submit" style="margin-left: 305px">Submit</button>
      </form>
      
      <% if (typeof result !== 'undefined') { %>
        <p>Result: <%= result %></p>
      <% } %>
      
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>